@font-face{
    font-family:AP;
     src:url("AltoPro-Normal.OTF");
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer{
    background: #e5e5e5!important;
    font-family:AP !important;
    font-size: 18px !important;
    text-decoration: none;
    height: 550px;
    text-align: right !important;
    display: flex;
    justify-content: center;
}


.footer a{
    color:black !important;
    }

  .footer a:hover {
    color: #E74011 !important;
    }


/* mouse over link */
a:hover {
    color: black;
 text-decoration: none;
}

/* selected link */
a:active {
    color: black;
 text-decoration: none;
}


.row-footer{
  width: 1200px !important;
  padding-top: 100px;
}

svg:hover {
  fill: #E74011 !important;
}



.footermenutitle {
font-size:26px !important;
}





















#lab_social_icon_footer {
  padding: 20px 0;
  background-color: #FFF;
}


html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: hidden;
}

.call {
font-family:AP !important;
color: black;
 text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
 text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
 text-decoration: none;
}
