@font-face{
    font-family:AP;
     src:url("AltoPro-Normal.OTF");
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer{
    background: #e5e5e5!important;
    font-family:AP !important;
    font-size: 18px !important;
    text-decoration: none;
    height: 550px;
    text-align: right !important;
    display: flex;
    justify-content: center;
}


.footer a{
    color:black !important;
    }

  .footer a:hover {
    color: #E74011 !important;
    }

.row-footer{
  width: 1200px !important;
  padding-top: 100px;
}

svg:hover {
  fill: #E74011 !important;
}

.footer-header {
    float:none;
    display: block;
    text-align: right;
    vertical-align: top;
    padding-left: inherit;
    padding-top: 10px!important;
     height: 30px !important;
}

.fmenutitle {
font-size:26px !important;
}
.fsocialtitle {
font-size:26px !important;
}





#fmenu {


}


.navbar-nav {
  height: 30px !important;
  }

.navbar-nav > li > a {
   padding: 0px 0px 0px 50px !important;}
  }











#lab_social_icon_footer {
  padding: 20px 0;
  background-color: #FFF;
}


html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: hidden;
}

.call {
font-family:AP !important;
color: black;
 text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
 text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
 text-decoration: none;
}
