@font-face{
    font-family:AP;
     src:url("AltoPro.OTF");
}
@font-face{
    font-family:APM;
     src:url("AltoProM.OTF");
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


.bg-gray-v1 {  background: #f2f2f2;}

header{
    display: block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
    font-family:AP;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/*langage   */
#lang {
    text-align: right;
    padding-top: 0.6em !important;
    }

#hitem{
    font-size: 11.5px!important;
  text-decoration: none !important;}
#hitems{
    margin-left: 10px;
    text-decoration: none !important;
    }





    .navbar-nav {
        float: right;
        margin: 0;
    }


/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation

--------------------------------------------------------------*/

@media (min-width: 1200px){
  .container {
      width: 1200px;
  }
}
@media (min-width: 992px){
.container {
    width: 960px;
}
}
@media (min-width: 768px) {
.container {
    width: 720px;
  }
  }
@media (min-width: 576px){
.container {
    width: 540px;
}
}
