@font-face{
    font-family:AP;
     src:url("AltoPro.OTF");
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.row-header-1 { text-align:right}
.navbar-default {
     background:none;
     box-shadow: none !important;
      Display:block;
    }

nav:after {
  content: "";
  display: table;
  clear: both;
}


.navbar-default{
    background: #f9f9f9 !important;
    background-image: none;
    text-transform: none;
    font-family:AP !important;
    font-size: 24px !important;
    text-decoration: none;
    height: 135px;
}

.navbar-default a{
    color:black !important;
    }
/*styling navbar active menu item   */
 .navbar-nav > .active > a{
  background-color: transparent !important;
  background-image: none !important;
  border-bottom: 2px solid black;
  box-shadow: none !important;

}
