@font-face{
    font-family:AP;
     src:url("AltoPro.OTF");
}
@font-face{
    font-family:APM;
     src:url("AltoProM.OTF");
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


.bg-gray-v1 {  background: #f2f2f2;}

header{
    display: block;
}



.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/*langage   */
#lang {
    text-align: right;
    padding-top: 0.6em !important;
    padding-right: 6em !important; }

#hitem{
    font-size: 11.5px!important;
  text-decoration: none !important;}
#hitems{
    margin-left: 10px;
    text-decoration: none !important;
    }


/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation
--------------------------------------------------------------*/
@media (min-width: 1200px)

}

@media only screen and (max-width: 500px) {

.navbar-default {

      height: 180px !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;

  .navbar-default .navbar-toggle {
  border-color: none !important;
  }


.navbar-toggle {
  background-color: transparent!important ;
    background-image: none !important;
     border: none!important;
     border-radius: 0px !important;
  }


  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
       border-color: none !important;
  }

  .navbar-collapse.in {
      overflow-y: initial !important;
  }





.navbar-brand {
    padding:0.5em 0em 0em 1.5em;
}


}/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation

--------------------------------------------------------------*/

@media (min-width: 1200px)
.container {
    max-width: 1200px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
