
@font-face{
    font-family:AP;
     src:url("AltoPro.OTF");
}
@font-face{
    font-family:APM;
     src:url("AltoProM.OTF");
}
body {
display: flex;
flex-direction: column;
justify-content: center;
background-color: #e3e3e3 ;
line-height: unset ;
}

.section{
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
}
.lsection{
  width: 100% ;
  font-family:AP ;
}

/*--------------------------------------------------------------
# About us
--------------------------------------------------------------*/


.asection{
padding-top: 155px ;
}
.page-title{
font-size: 20px ;
margin-bottom: 80px ;
}
h1 span {
border-bottom: 2px solid #E74011 ;
display: inline;
padding-bottom: 20px;
}
.asection p {
  margin:0px ;

}

.Acontent h3 {
  font-size:38px ;
  margin-bottom: 38px;
}

.Acontent p {
  font-size:30Px ;

}

.Acontent img {
width: 800px;
    height: auto;
  margin: 45px 0 0 0 ;}


/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation
--------------------------------------------------------------*/
@media only screen and (max-width: 500px) {

}

/*--------------------------------------------------------------
# Our Work
--------------------------------------------------------------*/

 .wsection{
  padding-top: 90px ;

 }

 .page-title{
 font-size: 20px ;
 margin-bottom: 80px ;
 }

 .wcontent {
 display: inline-block ;
 }

 h1 span {
 border-bottom: 2px solid #E74011 ;
 display: inline;
 padding-bottom: 20px;
 }


 /*Two  frame blocks */

 /* work items displaying */
 .iifcont {
   display: inline-flex;
    flex-direction: row ;
   justify-content: flex-end;
   height: 730px;
 }

  .iifitem {
 /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
  background-color: #F2F2F2;}

  .iifitem img{
  width:592px ;
  height:333px ;

  }
  .iifitemR {
 background-color: #F2F2F2;
     margin-left: 15px;
  }
  .iifitemR img{
  width:592px ;
  height:333px ;

  }

  .iicat {
  font-size:14px ;
  color:#E74011;
  margin-bottom: 7px;
  }
  .iipr {
  line-height: 40.8px ;
  font-size:34px ;
  }
  .iipd {
  line-height: 26.4px ;
  font-size:22px ;
  }
  .iilo{
  font-size:14px ;
  line-height: 16.8px ;
  margin-top: 20px;
  }

 /*three case blocks */

 .iiifcont {
   display:flex;
   flex-direction: row ;
   justify-content:space-between;
   height: 620px;
   margin-top: 15px;
   margin-bottom: 15px;
 }
 .iiifitems  img{
   width:390px ;
   height:220px ;
 }

 .iiifitems {
   /* To correctly align image, regardless of content height: */
      vertical-align: top;
      display: inline-block;
      /* To horizontally center images and caption */
      text-align: center;
      background-color: #F2F2F2;
  }

  .iicaption {
      /* Make the caption a block so it occupies its own line. */
      display: block;
      text-align: left;
      height: 310px;
      width: 472.5px;
      margin-left: 60px;
      margin-top: 40px;
    }


    .iiicaption {
        /* Make the caption a block so it occupies its own line. */
       display: block;
        text-align: left;
        height: 400px;
        width: 330px;
        margin-left: 60px;
        margin-top: 40px;
      }


 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }

 /*--------------------------------------------------------------
 # Our services
 --------------------------------------------------------------*/

 .ssection{
width:  100%;
padding-top: 90px ;

 }

 .page-title{

 font-size: 20px ;
 margin-bottom: 80px ;
 }

 /*underline title */
 h1 span {
 border-bottom: 2px solid #E74011 ;
 display: inline;
 padding-bottom: 20px;
 }


 .scontent {
 display: inline-block ;
 height: 840px;
 width:  100%;
 background-color: white;
 padding-top: 110px;
 }

 .scontainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .sitem img{
   border: 1px;
     height: 200px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     width: 200px;
 }

 .scap{
   font-size:28px ;
   text-align: center ;
   margin-top: 20px;
   margin-bottom: 47px;

 }



 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {



 }

 /*--------------------------------------------------------------
 # Our clients
 --------------------------------------------------------------*/

 .clsection{
  margin-top: 90px ;

 }

 .page-title{
 font-size: 20px ;
 margin-bottom: 80px;
 }

 /*underline title */
 h1 span {
 border-bottom: 2px solid #E74011 ;
 display: inline;
 padding-bottom: 20px;
 }


 .clcontent {
 display: inline-block ;
 height: 720px;
 }

 .clcontainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;

 }
 .clitem img{
   border: 1px;
     height: 100px;
     width: 100px;
 }
 .clitem p {
   margin:0 ;
 }

 .clcontent hr {
   margin-top: 40px;
   margin-bottom: 40px;
   border: 0 ;
   border-top: 1px solid #FFF;
 }

 .clitem .blackwhite{
   display:inline;
 }

 .clitem:hover .blackwhite {
     display: none;
 }


 .clitem .colored{
   display:none;
 }

 .clitem:hover .colored{
 display:inline;
 }



 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }
 /*--------------------------------------------------------------
 # People
 --------------------------------------------------------------*/

 .psection{
margin-top: 90px ;

 }

 .page-title{
 font-size: 20px ;
 margin-bottom: 80px ;
 }

 /*underline title */
 h1 span {
 border-bottom: 2px solid #E74011 ;
 display: inline;
 padding-bottom: 20px;
 }


 .pcontent {
 display: inline-block t;
 height: 510px;
 width: 100%;
 background-color: white;
 padding-top: 110px;
 }

 .pcontainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .pitem img{
   border: 1px;
     height: 200px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     width: 200px;
 }

 .pcap{
   font-size:28px ;
   text-align: center ;
   margin-top: 30px;
   margin-bottom: 47px;

 }

 .pcap h6 {
font-size: 22px ;

 }



 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }

   /*--------------------------------------------------------------
   # Our Awards
   --------------------------------------------------------------*/

 .awsection{
 margin-top: 90px;

 }

 .page-title{
 font-size: 20px ;
 margin-bottom: 80px ;
 }

 /*underline title */
 h1 span {
 border-bottom: 2px solid #E74011 ;
 display: inline;
 padding-bottom: 20px;
 }


 .awcontent {
 display: inline-block ;
 height: 360px;
 }

 .awcontainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
 }
 .awitem img{
   border: 1px;
     height: 100px;
     width: 100px;
 }
 .awitem p {
   margin:0 ;
 }

 .awcontent hr {
   margin-top: 40px;
   margin-bottom: 40px;
   border: 0 ;
   border-top: 1px solid #FFF;
 }

 .awitem .blackwhite{
   display:inline;
 }

 .awitem:hover .blackwhite {
     display: none;
 }


 .awitem .colored{
   display:none;
 }

 .awitem:hover .colored{
 display:inline;
 }

 /*--------------------------------------------------------------
 # Contact us
 --------------------------------------------------------------*/

 .csection{
   padding-top: 90px ;
    padding-bottom: 150px ;
 }

 .page-title{
 font-size: 20px ;
 margin-bottom: 80px ;
 }

 .ccontent {
 display: inline-block ;
 }

 h1 span {
 border-bottom: 2px solid #E74011 ;
 display: inline;
 padding-bottom: 20px;
 }


 /*Two  frame blocks */

 /* work items displaying */
 .cfcont {
   display: inline-flex;
    flex-direction: row ;
   justify-content: flex-end;
   height: 700px;
 }

  .cfitem {
 /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
  background-color: #F2F2F2;}

  .cfitem img{
  width:592px ;
  height:333px ;
  }
  .cfitemR {
 background-color: #F2F2F2;
     margin-left: 15px;
  }
  .cfitemR img{
  width:592px ;
  height:333px ;

  }
 .cop{
   position: relative;
   width: 592px ;
   height: 333px ;

 }

 .overlay{
   position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     right: 0;
     bottom: 0;
     background-color: rgba(0,0,0,0.5);
     z-index: 0;
     width: 592px ;
     height: 333px ;
 }
  .center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 38px;
   color: white ;
 }

  .ccaption {
      /* Make the caption a block so it occupies its own line. */
      display: block;
      text-align: left;
      height: 310px;
      width: 472.5px;
      margin-left: 60px;
      margin-top: 40px;
    }



  .ccd {
  line-height: 33.6px ;
  font-size:28px ;
  }
  .cmail{
  font-size:22px ;
  line-height: 26.4px ;
  margin-top: 20px;
  }

  .ccaption a{
      color:black ;
      text-decoration: none ;
      }

    .ccaption a:hover {
      color: #E74011 ;
      }


 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
