
@font-face{
    font-family:AP;
     src:url("AltoPro.OTF");
}
@font-face{
    font-family:APM;
     src:url("AltoProM.OTF");
}

body {
display: flex;
flex-direction: column;
justify-content: center;
background-color: #e3e3e3 !important;
line-height: unset !important;
font-family:AP !important;
--desktop-width: 1200px;
--tablet-width: 1024px;
--mobile-width: 414px;
--small--width-gutter: 1.25%;
--card-height-gutter: 40px;
--card-width-gutter:60px;
}

/*--------------------------------------------------------------
# Default
--------------------------------------------------------------*/
}
.lsection{
  width: 100% ;
  color:black;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black!important;
    font-family:AP !important;
}
p{ color: black;}

h1 span {
  border-bottom: 2px solid #E74011 !important;
  padding-bottom: 20px;
}

.page-title{
font-size: 20px !important;
margin-bottom: 60px !important;
}


.default-width {
  margin: 0 auto;
  width: 1200px;
}

.default-ptop{
padding-top: 110px;}




/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation
--------------------------------------------------------------*/
@media only screen and (max-width: 1920px) {
  .default-width {
    margin: 0 auto;
    width: 1200px;
  }
  .page-title{
  font-size: 20px !important;
  margin-bottom: 60px !important;
  }
}

 @media only screen and (max-width: 1024px) {
   .default-width {
     margin: 0 auto;
     width: 768px;
   }
   .page-title{
   font-size: 16px !important;
   margin-bottom: 48px !important;
   }
}
 @media only screen and (max-width: 768px){
   .default-width {
     margin: 0 auto;
     width: 672px;
   }
}
@media only screen and (max-width: 576px){
  .default-width {
    margin: 0 auto;
    width: 350px;
  }
}
@media only screen and (max-width: 375px){
  .default-width {
    margin: 0 auto;
    width: 227px;
  }
}

/*--------------------------------------------------------------
# About us
--------------------------------------------------------------*/


 .asection{
padding-top: 155px !important;
}


.asection p {
  margin:0px !important;

}

.Acontent h3 {
font-size:38px !important;
margin-bottom: 38px!important;
}

.Acontent p {
  font-size:30px !important;

}

.Acontent img {
width: 100%;
    height: auto;
  margin: 45px 0 0 0 !important;}

  /*--------------------------------------------------------------
  # Media Qeries  Mobile CSSS adapation
  --------------------------------------------------------------*/

   @media only screen and (max-width: 1024px) {
     .Acontent h3 {
    font-size:26px !important;
    margin-bottom: 26px!important;
     }
     .Acontent p {
       font-size:20px !important;

     }

  }
   @media only screen and (max-width: 768px){
    }
  }
  @media only screen and (max-width: 576px){

  }
  @media only screen and (max-width: 375px){

  }

/*--------------------------------------------------------------
# Our Work
--------------------------------------------------------------*/

 .wsection{
  padding-top: 90px !important;
 }



 .wcontent {
 display: inline-block !important;
 }


 /*Two  frame blocks */

 /* work items displaying */
 .iifcont {
   /* display: inline-flex;
    flex-direction: row ;
   justify-content: flex-end;
   height: 730px; */
   display: grid;
   height: 730px;
   gap:0 1.25%;
   margin-top:15px;
 }

 .iifcontent-double{
   grid-template-columns: repeat(auto-fill, minmax(48.75%,1fr));

 }
 .iifcontent-three{
   grid-template-columns: repeat(auto-fill, minmax(32.5%,1fr));
 }

  .iifitem {
 /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
  background-color: #F2F2F2;}

  .iifitem img{
  width:100%;
  height:100%;

  }
  /* .iifitemR {
 background-color: #F2F2F2;
     margin-left: 15px;
  } */
  /* .iifitemR img{
  width:592px !important;
  height:333px !important;

  } */

  .iicat {
  font-size:14px !important;
  color:#E74011!important;
  margin-bottom: 7px;
  }
  .iipr {
  line-height: 40.8px !important;
  font-size:34px !important;
  }
  .iipd {
  line-height: 26.4px !important;
  font-size:22px !important;
  }
  .iilo{
  font-size:14px !important;
  line-height: 16.8px !important;
  margin-top: 20px;
  }

 /*three case blocks */

 /* .iiifcont {
   display:flex;
   flex-direction: row ;
   justify-content:space-between;
   height: 620px;
   margin-top: 15px;
   margin-bottom: 15px;
 }
 .iiifitems  img{
   width:390px !important;
   height:220px !important;
 } */

 .iiifitems {
   /* To correctly align image, regardless of content height: */
      vertical-align: top;
      display: inline-block;
      /* To horizontally center images and caption */
      text-align: center;
      background-color: #F2F2F2;
  }

  .iicaption {
      /* Make the caption a block so it occupies its own line. */
      display: block;
      text-align: left;
      height: 310px;
      width: 472.5px;
      margin-left: 60px;
      margin-top: 40px;
    }


    /* .iiicaption { */
        /* Make the caption a block so it occupies its own line. */
       /* display: block;
        text-align: left;
        height: 400px!important;
        width: 330px!important;
        margin-left: 60px;
        margin-top: 40px;
      } */


 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }

 /*--------------------------------------------------------------
 # Our services
 --------------------------------------------------------------*/

 .ssection{
width:  100%;
   font-family:AP !important;
  padding-top: 90px !important;

 }



 .scontent {
   display: inline-block !important;
  height: 840px;
  background-color: white;
  width: 100%;


 }

 .scontainer{
   display: flex;
   align-items: center;
   justify-content: space-around;

 }
 .sitem img{
   border: 1px;
     height: 200px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     width: 200px;
 }

 .scap{
   font-size:28px !important;
   text-align: center !important;
   margin-top: 20px;
   margin-bottom: 47px;

 }



 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {



 }

 /*--------------------------------------------------------------
 # Our clients
 --------------------------------------------------------------*/

 .clsection{
   font-family:AP !important;
  margin-top: 90px ;

 }


 .clcontent {
 display: inline-block ;
 height: 720px;
 width: 100%;
 }

 .clcontainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;

 }
 .clitem img{
   border: 1px;
     height: 100px;
     width: 100px;
 }
 .clitem p {
   margin:0 !important;
 }

 .clcontent hr {
   margin-top: 40px!important;
   margin-bottom: 40px!important;
   border: 0 !important;
   border-top: 1px solid #FFF!important;
 }

 .clitem .blackwhite{
   display:inline;
 }

 .clitem:hover .blackwhite {
     display: none;
 }


 .clitem .colored{
   display:none;
 }

 .clitem:hover .colored{
 display:inline;
 }



 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }
 /*--------------------------------------------------------------
 # People
 --------------------------------------------------------------*/

 .psection{

   font-family:AP !important;
       margin-top: 90px ;

 }


 .pcontent {
   display: inline-block;
      height: 510px;
      width: 100%;
      background-color: white;
 }


 .pcontainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 .pitem img{
   border: 1px;
     height: 200px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     width: 200px;
 }

 .pcap{
   font-size:28px !important;
   text-align: center !important;
   margin-top: 30px;
   margin-bottom: 47px;

 }

 .pcap h6 {
font-size: 22px !important;

 }

 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }


   /*--------------------------------------------------------------
   # Our Awards
   --------------------------------------------------------------*/

 .awsection{

   font-family:AP !important;
       margin-top: 90px;

 }



 .awcontent {
 display: inline-block !important;
 height: 360px;
 width: 100%;
 }

 .awcontainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
 }
 .awitem img{
   border: 1px;
     height: 100px;
     width: 100px;
 }
 .awitem p {
   margin:0 !important;
 }

 .awcontent hr {
   margin-top: 40px!important;
   margin-bottom: 40px!important;
   border: 0 !important;
   border-top: 1px solid #FFF!important;
 }

 .awitem .blackwhite{
   display:inline;
 }

 .awitem:hover .blackwhite {
     display: none;
 }


 .awitem .colored{
   display:none;
 }

 .awitem:hover .colored{
 display:inline;
 }

 /*--------------------------------------------------------------
 # Media Qeries  Mobile CSSS adapation
 --------------------------------------------------------------*/
 @media only screen and (max-width: 500px) {

 }
 /*--------------------------------------------------------------
 # Contact us
 --------------------------------------------------------------*/

 .csection{
   padding-top: 90px !important;
    padding-bottom: 150px !important;
 }



 .ccontent {
 display: inline-block !important;
 }



 /*Two  frame blocks */

 /* work items displaying */
 .cfcont {
   display: inline-flex;
    flex-direction: row ;
   justify-content: flex-end;
   height: 700px;
 }

  .cfitem {
 /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
  background-color: #F2F2F2;}

  .cfitem img{
  width:592px !important;
  height:333px !important;
  }
  .cfitemR {
 background-color: #F2F2F2;
     margin-left: 15px;
  }
  .cfitemR img{
  width:592px !important;
  height:333px !important;

  }
 .cop{
   position: relative;

 }

 .overlay{
   position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     right: 0;
     bottom: 0;
     background-color: rgba(0,0,0,0.5);
     z-index: 0;
     width: 100%;
     height: 100%;
 }
  .center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 38px;
   color: white !important;
 }

  .ccaption {
      /* Make the caption a block so it occupies its own line. */
      display: block;
      text-align: left;
      height: 310px;
      width: 472.5px;
      margin-left: 60px;
      margin-top: 40px;
    }



  .ccd {
  line-height: 33.6px !important;
  font-size:28px !important;
  }
  .cmail{
  font-size:22px !important;
  line-height: 26.4px !important;
  margin-top: 20px;
  }

  .ccaption a{
      color:black !important;
      text-decoration: none !important;
      }

    .ccaption a:hover {
      color: #E74011 !important;
      }
      /*--------------------------------------------------------------
      # Media Qeries  Mobile CSSS adapation
      --------------------------------------------------------------*/
      @media only screen and (max-width: 500px) {

      }
